.loader {
    vertical-align: middle;
    color: #666;

    &.has-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    &::before {
        vertical-align: top;
        content: ' ';
        display: inline-block;
        width: 0.9em;
        height: 0.9em;
        border: 0.2em solid #666;
        /* margin-left: 0.5em; */
        border-top-color: transparent;
        border-radius: 50%;
        animation: loadingspin 1s linear infinite;
    }

    &.big::before {
        width: 1.5em;
        height: 1.5em;
    }
}

