@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

.reservations {
    width: 100%;

    .header {
        text-align: center;
        padding: 10px;
    }

    .date-picker {
        margin: 0 0.5em;
    }

    .my-reservations {
        margin: 0.25em 0 0;
        padding: 0;
        font-family: monospace;
        letter-spacing: -0.05em;
        font-size: 16px;

        li {
        }

        .delete-btn {
            margin-left: 0.5em;
            vertical-align: text-bottom;
        }
    }



    .main {
        display: flex;
        overflow: hidden;

        .hours {
            width: 50px;
            background: green;
            margin-top: 30px;
            border-right: solid 1px white;

            .hour {
                text-align: center;
                color: white;
                border-bottom: 1px solid white;
                padding: 5px;
                box-sizing: border-box;
                height: 31px;
            }
        }

        .slots {
            overflow-x: auto;

            .courts__header {
                white-space: nowrap;

                .cell {
                    background: #666;
                    color: white;
                    padding-top: 5px;
                }
            }

            .courts__row {
                border-bottom: solid 1px white;

                .cell {
                    background: #ccc;

                    &.loading::before {
                        content: ' ';
                        display: inline-block;
                        width: 0.9em;
                        height: 0.9em;
                        border: 0.1em solid #fff;
                        border-top-color: transparent;
                        border-radius: 50%;
                        animation: loadingspin 1s linear infinite;
                    }

                    &:hover {
                        cursor: pointer;
                        background: #999;
                    }

                    &.reserved {
                        cursor: default;
                        background: #ddd;
                        color: #666;
                    }

                    .delete {
                        margin-left: 5px;
                        cursor: pointer;
                        color: red;
                        text-decoration: underline;
                    }
                }
            }

            .courts__rowSlots {
                white-space: nowrap;
            }

            .cell {
                text-align: center;
                font-size: 0.9em;
                padding: 7px 5px 0;
                overflow: hidden;
                width: 110px;
                height: 30px;
                display: inline-block;
                border-right: solid 1px white;
                vertical-align: top;
                box-sizing: border-box;


            }
        }
    }
}
