.lightbox {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 100;
}

.popup {
    position: absolute;
    z-index: 100;
    padding: 10px 30px 30px 20px;
    box-sizing: border-box;
    width: 90%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px 0px #999;

    button {
        font-size: 1em;
        line-height: 1;
        padding: 0.4em 0.8em;
        vertical-align: middle;
        background: #3264c8;
        color: white;
        border: none;
        border-radius: 0.25em;
    }

    .close {
        position: absolute;
        right: 5px;
        top: 10px;
        background: none;
        color: #3264c8;
        cursor: pointer;
    }

    form {
        fieldset {
            border: 0;
            padding: 0;
            margin: 1em 0;

            div {
                margin-bottom: 0.5em;
            }
        }

        button[type=submit] {
            margin-right: 1em;

            &[disabled] {
                opacity: 0.5;
            }
        }

        label {
            margin-right: 1em;
        }

        .delete_fields {
            margin-bottom: 1em;

            label {
                display: block;
            }
        }
    }
}
