.flex {
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

h2 {
    margin-bottom: 0;
}

.items {
    padding: 0.5em 1em;
    margin: 0;
}

.subheader {
    text-align: center;
    border-bottom: dotted 1px #999;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    p {
        margin: 0;
    }
}
