.navbar {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;

    a {
        padding: 0.5em;
        display: block;
        background: var(--blue);
        margin: 0.5em 0;
        color: #fff;
        text-align: center;
        font-size: 20px;
        text-decoration: none;

        span {
            display: block;
            font-size: 15px;
            margin-top: 0.5em;
        }
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 80ch;

    ul {
        padding-left: 17px;

        li {
            margin-bottom: 0.3em;
        }
    }
}
