/* for better alignment of label and input field in Safari */
label input[type=checkbox] {
    vertical-align: top;
}

form.form-logout {
    display: inline-block;

    button[type=submit] {
        background: none;
        color: var(--blue);
        padding: 0;
        font-weight: normal;

        &:hover {
            background: none;
        }
    }
}

