@import './icons.css';

:root {
  --blue: #3264c8;
  --brown: #d64d08;
  --darkbrown: #a93b05;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#root {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.5em;
}

main {
    flex-grow: 1;
    padding: 0 0.75em 1em;
    scroll-behavior: contain;
    overflow-y: auto;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3, p {
    font-size: 1em;
    line-height: 1.25;
}

h2 + p {
    margin-top: 0.5em;
}

.center {
    text-align: center;
}

.splash {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    color: salmon;
}

h1 {
    margin: 0;
}

a {
    color: var(--blue);
}

.users-list {
    padding-left: 0;

    li {
        margin-bottom: 0.25em;
    }
}

.tagline {
    color: #666;
    margin-top: 1em;
    text-align: center;
    font-size: 14px;
}

.slider {
    text-align: center;
    width: 100%;
    margin: 2em auto;
    display: flex;
    flex-wrap: nowrap;

    p {
        background: #999;
        text-align: center;
        color: white;
        border-radius: 50%;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 0.5em 0;
        font-size: 14px;
    }

    img {
        border: solid 1px #ccc;
        border-radius: 10px;
        width: 85%;
    }
}
